@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSans.ttf') format('truetype'); /*url('/app_themes/default/font/asap_regular.otf') format('embedded-opentype');*/
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype'); /*url('/app_themes/default/font/asap_regular.otf') format('embedded-opentype');*/
}

/* Override de bootstrap */
.dropdown .dropdown-menu .dropdown-header {
    padding: 0.2rem 1rem;
    pointer-events: none;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 0.1rem 1rem;
    cursor: pointer;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
    height: 100%;
}

    .react-datepicker-wrapper input {
        background-color: transparent;
    }

html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/*.ui-grid, .ui-grid-viewport {
    height: auto !important;
    padding-bottom: 40px !important;
}*/

#root {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "wis-nav wis-main";
    font-family: PTSans;
    font-size: 16px;
}

header {
    grid-area: wis-header;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

nav {
    grid-area: wis-nav;
}

main {
    grid-area: wis-main;
    overflow-y: auto;
    max-height: 100%;
    max-width: 100%;
}

footer {
    grid-area: wis-footer;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
}

    footer .footer-box-left {
        text-align: left;
    }

    footer .footer-box-center {
        text-align: center;
    }

    footer .footer-box-right {
        text-align: right;
        margin-right: 10px;
    }

    footer .footer-box-left,
    footer .footer-box-center,
    footer .footer-box-right {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 10pt;
    }

/* Menu */
/*nav.wis-nav-open {
    width: 200px;
}

nav.wis-nav-closed {
    width: 45px;
}*/

.wis-header-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "wis-title wis-userinfo";
    background-color: #DBDBDB;
}

    .wis-header-container .wis-header-title {
        grid-area: wis-title;
        justify-self: start;
        display: flex;
        font-size: 14pt;
    }

        .wis-header-container .wis-header-title span {
            line-height: 50px;
            display: inline-block;
        }

        .wis-header-container .wis-header-title .customer-brand {
            margin-left: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }

            .wis-header-container .wis-header-title .customer-brand img {
                display: block;
                max-width: 100px;
            }

        .wis-header-container .wis-header-title .title-separator {
            margin-left: 5px;
            margin-right: 5px;
            color: #009FE0;
        }

    .wis-header-container .wis-header-user {
        grid-area: wis-userinfo;
        justify-self: end;
        position: relative;
    }

        .wis-header-container .wis-header-user .wis-header-username {
            line-height: 50px;
            margin-right: 8px;
        }

        .wis-header-container .wis-header-user .wis-header-logout {
            line-height: 50px;
            margin-right: 20px;
            color: #515151;
        }

/*.wis-nav-open .wis-nav-header {
    position: relative;
}

    .wis-nav-open .wis-nav-header .wis-nav-logo {
        text-align: center;
        display: block;
        height: 50px;
    }

        .wis-nav-open .wis-nav-header .wis-nav-logo a {
            text-decoration: none;
            color: white;
            line-height: 50px;
        }

            .wis-nav-open .wis-nav-header .wis-nav-logo a span {
                max-width: 100px;
            }

    .wis-nav-open .wis-nav-header .wis-nav-logo-mini {
        display: none;
    }

    .wis-nav-open .wis-nav-header .wis-nav-search .wis-nav-search-field {
        padding: 10px;
    }

        .wis-nav-open .wis-nav-header .wis-nav-search .wis-nav-search-field input {
            padding: 2px;
            border: none;
            height: 25px;
            width: 100%;
        }

    .wis-nav-open .wis-nav-header .wis-nav-close-button {
        position: absolute;
        top: 50px;
        left: 100%;
        color: white;
        line-height: 45px;
        text-align: center;
        width: 28px;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        background-color: #009FE0;
        transition: left ease-out 0.2s;
    }

    .wis-nav-open .wis-nav-header .wis-nav-open-button {
        display: none;
    }

.wis-nav-open .wis-menu .wis-menu-section {
    text-decoration: none;
    width: 100%;
    line-height: 35px;
    display: block;
    box-sizing: border-box;
}

    .wis-nav-open .wis-menu .wis-menu-section > .wis-item-label {
        text-decoration: none;
        color: white;
        display: block;
        position: relative;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        cursor: pointer;
        border-bottom-color: #006AC6;
    }

    .wis-nav-open .wis-menu .wis-menu-section > .wis-item-label {
        padding-left: 10px;
    }

        .wis-nav-open .wis-menu .wis-menu-section > .wis-item-label i {
            text-align: center;
            width: 20px;
        }

        .wis-nav-open .wis-menu .wis-menu-section > .wis-item-label span {
            margin-left: 0.5em;
        }

.wis-nav-open .wis-menu .wis-item-submenu {
    display: none;
    background-color: #092C53;
}

    .wis-nav-open .wis-menu .wis-item-submenu.open {
        display: block;
    }

.wis-nav-open .wis-menu .wis-menu-item {
    text-align: left;
    line-height: 20px;
}

    .wis-nav-open .wis-menu .wis-menu-item a {
        font-size: 12pt;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: block;
        cursor: pointer;
        text-decoration: none;
        color: #E7E7E7;
        border-bottom-color: #003457;
    }

        .wis-nav-open .wis-menu .wis-menu-item a:hover {
            background-color: #072547;
        }

        .wis-nav-open .wis-menu .wis-menu-item a .submenu-arrow {
            line-height: 20px;
            font-size: 12px;
        }

.wis-nav-open .wis-menu .wis-item-label > span,
.wis-nav-open .wis-menu .wis-item-label > i {
    pointer-events: none;
}

.wis-nav-closed .wis-nav-header .wis-nav-logo {
    display: none;
}

.wis-nav-closed .wis-nav-header .wis-nav-logo-mini {
    display: block;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

    .wis-nav-closed .wis-nav-header .wis-nav-logo-mini a {
        text-decoration: none;
        color: white;
        line-height: 50px;
    }

.wis-nav-closed .wis-nav-header .wis-nav-search,
.wis-nav-closed .wis-nav-header .wis-nav-close-button {
    display: none;
}

.wis-nav-closed .wis-nav-header .wis-nav-open-button {
    height: 45px;
    width: 100%;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    color: #1063CA;
    background-color: white;
}

.wis-nav-closed .wis-menu .wis-menu-section {
    width: 100%;
    height: 36px;
    position: relative;
    background-color: #1063CA;
}

    .wis-nav-closed .wis-menu .wis-menu-section > a {
        text-decoration: none;
        width: 100%;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        color: white;
        border-color: #1063CA;
        cursor: pointer;
    }

        .wis-nav-closed .wis-menu .wis-menu-section > a span {
            display: none;
        }

    .wis-nav-closed .wis-menu .wis-menu-section:hover {
        background-color: #072547;
    }

        .wis-nav-closed .wis-menu .wis-menu-section:hover > a {
            border-color: #3974B4;
        }

            .wis-nav-closed .wis-menu .wis-menu-section:hover > a span {
                display: inline-block;
                width: 250px;
                line-height: 35px;
                padding-left: 10px;
                position: absolute;
                left: 45px;
                cursor: pointer;
                border-radius: 0 4px 0 0;
                text-align: left;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-color: #003457;
                background-color: #072547;
                color: white;
            }

.wis-nav-closed .wis-menu .wis-menu-item {
    position: relative;
}

.wis-nav-closed .wis-menu .wis-item-submenu {
    margin-left: 100%;
    width: 250px;
    display: none;
    left: 0;
    top: 0;
    position: absolute;
}

    .wis-nav-closed .wis-menu .wis-menu-section > a:hover + .wis-item-submenu,
    .wis-nav-closed .wis-menu .wis-item-submenu:hover,
    .wis-nav-closed .wis-menu .wis-menu-item:hover > a + .wis-item-submenu {
        display: inline-block;
    }

.wis-nav-closed .wis-menu .wis-menu-section > .wis-item-submenu {
    top: 36px;
}

.wis-nav-closed .wis-menu .wis-menu-item .wis-item-label,
.wis-nav-closed .wis-menu .wis-menu-item .wis-item-action {
    cursor: pointer;
    text-decoration: none;
    width: 250px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
    line-height: 1;
    outline: 0;
    background-color: #092C53;
    color: white;
}

.wis-nav-closed .wis-menu .wis-menu-item a:hover {
    background-color: #072547;
}

.wis-nav-closed .wis-menu .wis-item-submenu > .wis-menu-item > .wis-item-submenu > .wis-menu-item > .wis-item-label,
.wis-nav-closed .wis-menu .wis-item-submenu > .wis-menu-item > .wis-item-submenu > .wis-menu-item > .wis-item-action {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #003457;
}

.wis-nav-closed .wis-menu .wis-menu-section:hover > .menu-label-dropup span {
    border-radius: 0 0 4px 0;
}*/

/* Grid */
.gr-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    outline: none;
    position: relative;
    background-color: white;
    font-family: Roboto;
}

    .gr-grid .gr-content-container {
        position: relative;
    }

    .gr-grid .gr-loading-skeleton {
        width: 100%;
        position: absolute;
        overflow: hidden;
        background-color: white;
        display: flex;
        align-items: center;
    }

        .gr-grid .gr-loading-skeleton.display {
            opacity: 1;
        }

        .gr-grid .gr-loading-skeleton.hidden {
            opacity: 0;
            transition: all 1s ease;
        }

    .gr-grid .gr-body,
    .gr-grid .gr-body-scroll {
        background-color: white;
        border-bottom: 1px solid #eaeaea;
    }

    .gr-grid .gr-body {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .gr-grid .gr-body-pane {
        overflow-y: auto;
    }

    .gr-grid .gr-header-pane,
    .gr-grid .gr-body-pane {
        display: flex;
    }

    .gr-grid .gr-body-pane {
        border-bottom: 1px solid #eaeaea;
    }

        .gr-grid .gr-body-pane .gr-body-pane-container {
            overflow: hidden;
            display: flex;
            width: 100%
        }

    .gr-grid .gr-body.empty .gr-row-placeholder {
        background-color: #f27f00;
        color: white;
        font-size: 18px;
        height: 100%;
        width: 100%;
    }

        .gr-grid .gr-body.empty .gr-row-placeholder span {
            position: absolute;
            margin-top: 5px;
            margin-left: 10px;
        }

            .gr-grid .gr-body.empty .gr-row-placeholder span i {
                font-size: 16px;
            }

    .gr-grid .gr-vp-header-center .gr-header,
    .gr-grid .gr-vp-header-left .gr-header,
    .gr-grid .gr-vp-header-right .gr-header {
        overflow: hidden;
    }

    .gr-grid .gr-vp-body-center .gr-body-scroll,
    .gr-grid .gr-vp-body-left .gr-body-scroll,
    .gr-grid .gr-vp-body-right .gr-body-scroll,
    .gr-grid .gr-vp-body-selection .gr-body-scroll {
        overflow: hidden;
        height: 100%;
    }

    .gr-grid .gr-vp-header-left,
    .gr-grid .gr-vp-body-left,
    .gr-grid .gr-vp-header-right,
    .gr-grid .gr-vp-body-right,
    .gr-grid .gr-vp-body-selection {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        min-width: 0;
        background-color: white;
    }

    .gr-grid .gr-vp-header-center,
    .gr-grid .gr-vp-body-center {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex-grow: 1;
        min-width: 0;
    }

        .gr-grid .gr-vp-header-left .gr-header,
        .gr-grid .gr-vp-header-center .gr-header,
        .gr-grid .gr-vp-header-right .gr-header {
            min-height: 30px;
        }

    .gr-grid .gr-row {
        width: 100%;
        display: flex;
    }

        .gr-grid .gr-row .gr-cell {
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            background-color: white;
            border-bottom: 1px solid #b4bfc6;
            border-right-width: 1px;
            border-right-style: solid;
            border-color: #eaeaea;
        }

        .gr-grid .gr-row.highlight .gr-cell {
            background-color: #e7f2ff;
        }

    .gr-grid .gr-vp-body-right .gr-row .gr-cell:first-child {
        border-left: 1px solid #eaeaea;
    }

    .gr-grid .gr-vp-body-right .gr-row.new .gr-cell:first-child {
        border-left-color: #7bd17b;
    }

    .gr-grid .gr-vp-body-right .gr-row.deleted .gr-cell:first-child {
        border-left-color: #ce2828;
    }

    .gr-grid .gr-row.new .gr-cell,
    .gr-grid .gr-row.new .gr-selection-placeholder {
        background-color: #c2e6a0;
        border-color: #8ec38e;
    }

    .gr-grid .gr-row.deleted .gr-cell {
        background-color: #f05050;
        border-color: #ce2828;
    }

    .gr-grid .gr-vp-body-left .gr-row .gr-cell.selected,
    .gr-grid .gr-vp-body-right .gr-row .gr-cell.selected,
    .gr-grid .gr-vp-body-center .gr-row .gr-cell.selected {
        background-color: #a8ceff;
    }

    .gr-grid .gr-row .gr-cell .gr-cell-content-text {
        width: 100%;
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
        user-select: none;
    }

    .gr-grid .gr-row .gr-cell .gr-cell-content-input {
        display: block;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        line-height: 28px;
        height: 100%;
    }

        .gr-grid .gr-row .gr-cell .gr-cell-content-input:focus {
            outline-offset: -2px;
            outline: 1px solid #1063ca;
        }

    .gr-grid .gr-row .gr-cell .gr-cell-progress {
        display: flex;
    }

        .gr-grid .gr-row .gr-cell .gr-cell-progress > div {
            margin-left: 0;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 3px;
            height: 20px;
        }

        .gr-grid .gr-row .gr-cell .gr-cell-progress.low > div {
            background-color: red;
        }

        .gr-grid .gr-row .gr-cell .gr-cell-progress.mid > div {
            background-color: yellow;
        }

        .gr-grid .gr-row .gr-cell .gr-cell-progress.high > div {
            background-color: green;
        }

    .gr-grid .gr-row .gr-btn-list {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }

        .gr-grid .gr-row .gr-btn-list .gr-btn,
        .gr-grid .gr-row .gr-cell .gr-cell-itemlist .gr-btn {
            height: 24px;
            display: block;
            line-height: 24px;
            background-color: white;
            border: 1px solid #a7adb6;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 5px;
            padding-left: 5px;
            cursor: pointer;
            margin-right: 3px;
            border-radius: 3px;
        }

            .gr-grid .gr-row .gr-btn-list .gr-btn:hover,
            .gr-grid .gr-row .gr-cell .gr-cell-itemlist .gr-btn:hover {
                background-color: #b4bfc6;
            }

    .gr-grid .gr-row .gr-cell .gr-cell-itemlist {
        display: flex;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

        .gr-grid .gr-row .gr-cell .gr-cell-itemlist .gr-btn {
            margin-top: auto;
            margin-bottom: auto;
        }

    .gr-grid .gr-header-row {
        display: flex;
    }

    .gr-grid .gr-header-label,
    .gr-grid .gr-cell {
        white-space: nowrap;
        min-width: 100px;
        flex: 0;
    }

    .gr-grid .gr-header-label {
        border-right-width: 1px;
        border-right-style: solid;
        font-size: 16px;
        border-color: #3277ce;
    }

    .gr-grid .gr-vp-header-right .gr-header-label {
        border-left-width: 1px;
        border-left-style: solid;
    }

    .gr-grid .gr-header-label {
        height: 30px;
        line-height: 30px;
        user-select: none;
        display: flex;
        background-color: #1063ca;
        color: white;
        position: relative;
    }

        .gr-grid .gr-header-label .gr-col-name {
            padding-left: 4px;
            overflow: hidden;
        }

        .gr-grid .gr-header-label .gr-col-sort {
            width: 14px;
            background-color: #1063ca;
            height: 100%;
            flex-shrink: 0;
            color: white;
            cursor: pointer;
            position: relative;
            margin-left: 4px;
        }

            .gr-grid .gr-header-label .gr-col-sort .gr-col-sort-marker-up {
                height: 50%;
                width: 100%;
                font-size: 12px;
                line-height: 5px;
                text-align: center;
                color: #4583d1;
            }

            .gr-grid .gr-header-label .gr-col-sort .gr-col-sort-marker-down {
                height: 50%;
                width: 100%;
                font-size: 12px;
                line-height: 19px;
                text-align: center;
                color: #4583d1;
            }

            .gr-grid .gr-header-label .gr-col-sort .gr-col-sort-order {
                position: absolute;
                width: 100%;
                height: 100%;
                color: white;
                top: 0;
                left: 0;
                text-align: center;
                font-size: 10px;
                pointer-events: none;
            }

            .gr-grid .gr-header-label .gr-col-sort.ascending .gr-col-sort-marker-up,
            .gr-grid .gr-header-label .gr-col-sort.descending .gr-col-sort-marker-down {
                color: white;
            }

        .gr-grid .gr-header-label.fixed-right .gr-col-sort {
            margin-left: 0;
            margin-right: 0;
            flex-grow: 0;
            position: relative;
        }

        .gr-grid .gr-header-label .gr-col-resize {
            height: 80%;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 2px;
            width: 4px;
            cursor: col-resize;
            margin-left: auto;
            flex-shrink: 0;
            flex-grow: 0;
        }

        .gr-grid .gr-header-label.fixed-right .gr-col-resize {
            margin-right: 0;
            margin-left: 2px;
        }

        .gr-grid .gr-header-label .gr-col-resize > div {
            width: 1px;
            height: 100%;
            background-color: #6386da;
            margin-left: auto;
        }

        .gr-grid .gr-header-label.fixed-right .gr-col-resize > div {
            margin-left: initial;
            margin-right: auto;
        }

        .gr-grid .gr-header-label .gr-col-banishing {
            position: absolute;
            right: 6px;
            background: linear-gradient(to left, #1063ca, rgba(0,0,0,0));
            pointer-events: none;
            width: 30px;
            height: 100%;
        }

        .gr-grid .gr-header-label.fixed-right .gr-col-banishing {
            right: 0;
        }

    .gr-grid .gr-filter-row {
        display: flex;
    }

        .gr-grid .gr-filter-row .gr-filter {
            width: 100%;
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #1063ca;
            flex: 0;
            position: relative;
            border-left-color: #eaeaea;
        }

    .gr-grid .gr-vp-header-right .gr-header {
        background-color: #1063ca;
    }

    .gr-grid .gr-vp-header-right .gr-filter-row {
        background-color: white;
        border-right: 1px solid #eaeaea;
    }

        .gr-grid .gr-vp-header-right .gr-filter-row .gr-filter:first-child {
            border-left: 1px solid #eaeaea;
        }

    .gr-grid .gr-filter-row .gr-filter input {
        width: 100%;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .gr-grid .gr-filter-row .gr-filter .gr-filter-search-icon {
        position: absolute;
        right: 6px;
        top: 0;
        height: 100%;
        font-size: 14px;
        line-height: 2;
        opacity: 0.2;
        pointer-events: none;
        display: none;
    }

    .gr-grid .gr-filter-row .gr-filter:hover .gr-filter-search-icon {
        display: block;
    }

    .gr-grid .gr-vp-body-center .gr-row > .gr-cell:last-child,
    .gr-grid .gr-vp-header-center .gr-header-row > .gr-header-label:last-child,
    .gr-grid .gr-vp-header-center .gr-filter-row > .gr-filter:last-child {
        flex: 1;
    }

    .gr-grid .gr-col-resize-marker {
        top: 0;
        width: 1px;
        background-color: blue;
        position: absolute;
    }

    .gr-grid .gr-row .gr-cell.error {
        background-color: #d73434;
        color: white;
    }

    .gr-grid .gr-row.highlight .gr-cell.error {
        background-color: #b42626;
    }

    .gr-grid .gr-row .gr-cell.error.selected {
        background-color: #961414;
    }

    .gr-grid .gr-cell-error-message {
        position: fixed;
        background-color: #d73434;
        max-width: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        color: white;
        font-size: 10px;
        white-space: normal;
        line-height: 15px;
        left: 0;
        top: 0;
        border-radius: 3px;
    }

        .gr-grid .gr-cell-error-message.hidden {
            visibility: hidden;
        }

    .gr-grid .gr-selection-placeholder,
    .gr-grid .gr-selection-checkbox {
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-left: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
    }

    .gr-grid .gr-selection-checkbox {
        text-align: center;
        color: #eaeaea;
        cursor: pointer;
    }

        .gr-grid .gr-selection-checkbox.checked {
            color: #1063ca;
        }

    .gr-grid .gr-row.highlight .gr-selection-checkbox {
        background-color: #e7f2ff;
    }

    .gr-grid .gr-header .gr-selection-checkbox {
        height: 30px;
        background-color: #1063ca;
        border-bottom: none;
        color: #4386da;
        border-color: #3277ce;
        display: flex;
    }

        .gr-grid .gr-header .gr-selection-checkbox i {
            margin: auto;
        }

        .gr-grid .gr-header .gr-selection-checkbox.checked {
            color: white;
        }

    .gr-grid .gr-cell.display-border-left,
    .gr-grid .gr-header-label.display-border-left,
    .gr-grid .gr-filter.display-border-left {
        border-left-width: 1px;
        border-left-style: solid;
    }

    .gr-grid .gr-filter-placeholder {
        width: 100%;
        height: 27px;
        border-bottom: 1px solid #1063ca;
        border-right: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
    }

    .gr-grid .gr-toolbar {
        margin-bottom: 5px;
        display: flex;
    }

        .gr-grid .gr-toolbar .gr-action-toolbar,
        .gr-grid .gr-toolbar .gr-filter-toolbar {
            display: flex;
        }

        .gr-grid .gr-toolbar .gr-filter-toolbar {
            margin-left: auto;
        }

        .gr-grid .gr-toolbar .gr-toolbar-btn {
            margin-right: 5px;
            border: none;
            text-align: center;
            cursor: pointer;
            border-radius: 3px;
            color: white;
            width: 24px;
            height: 24px;
            padding: 0;
            font-size: 15px;
            background-color: #0f62ca;
        }

        .gr-grid .gr-toolbar .gr-action-toolbar .gr-toolbar-btn.commit {
            background-color: #2b962b;
        }

        .gr-grid .gr-toolbar .gr-action-toolbar .gr-toolbar-btn.delete {
            background-color: #e13030;
        }

        .gr-grid .gr-toolbar .gr-action-toolbar .gr-toolbar-btn.disabled {
            background-color: #eaeaea;
        }

        .gr-grid .gr-toolbar .gr-toolbar-divider {
            width: 5px;
            margin-right: 5px;
            display: flex;
        }

            .gr-grid .gr-toolbar .gr-toolbar-divider div {
                width: 1px;
                background-color: #eaeaea;
                height: 85%;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }

        .gr-grid .gr-toolbar .gr-filter-toolbar .gr-filter-status {
            display: flex;
            align-items: center;
            font-size: 14px;
        }

    .gr-grid .gr-scroll-pane {
        display: flex;
    }

        .gr-grid .gr-scroll-pane .gr-scorll-space {
            flex-basis: auto;
            flex-shrink: 0;
            flex-grow: 0
        }

        .gr-grid .gr-scroll-pane .gr-scroll-container {
            overflow-x: auto;
            flex-grow: 0;
        }

.gr-skeleton {
    width: 100%;
    height: 100%;
}

    .gr-skeleton .gr-toolbar-skeleton {
        height: 24px;
        margin-bottom: 5px;
        display: flex;
    }

        .gr-skeleton .gr-toolbar-skeleton .gr-button-skeleton {
            background-color: #eaeaea;
            width: 24px;
            height: 24px;
            border-radius: 3px;
            margin-right: 5px;
        }

        .gr-skeleton .gr-toolbar-skeleton .gr-divider-skeleton {
            width: 10px;
        }

        .gr-skeleton .gr-toolbar-skeleton .gr-action-skeleton {
            display: flex;
        }

        .gr-skeleton .gr-toolbar-skeleton .gr-filter-skeleton {
            display: flex;
            margin-left: auto;
        }

        .gr-skeleton .gr-toolbar-skeleton .gr-action-skeleton-padding {
            width: 150px;
            background-color: #eaeaea;
        }

.gr-text-skeleton {
    width: 90px;
    height: 24px;
    background-color: #eaeaea;
}

.gr-skeleton .gr-header-skeleton {
    height: 30px;
    width: 100%;
    background-color: #eaeaea;
    margin-bottom: 5px;
}

.gr-skeleton .gr-body-skeleton {
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
}

.loading-animation,
.loading-animation:before,
.loading-animation:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: loadingAnimation 1.8s infinite ease-in-out;
    animation: loadingAnimation 1.8s infinite ease-in-out;
}

.loading-animation {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loading-animation:before,
    .loading-animation:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loading-animation:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loading-animation:after {
        left: 3.5em;
    }

.hidden {
    display: none !important;
}

@keyframes loadingAnimation {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
